*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"gilroy";
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color:black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav h3{
    font-size: 25px;
    text-transform: upppercase;
    font-weight: 500;
}

#main h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 90px;
    /* background-color: red; */
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 9;
}

#main h1:nth-child(2){
    margin-top: 180px;
}

#main h1:nth-child(3){
    text-align: center;
}

#main h1:nth-child(4){
    text-align: center;
}

img{
    height: 400px;
    position: absolute;
    top: 12%;
    left: 40%;
}

#img1{
    rotate: 20deg;
}

#img2{
    rotate:10deg;
}

#img3{
    rotate: 2deg;
}

#footer{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 180px;
    gap: 550px;
}

#footer h2{
    font-weight: 400;
    font-size: 15px;
}

